html, #root, body ,.main{
    height: 100%;
}

.text-input-control{
    margin: 0 auto;
    max-width: 700px;
    margin-bottom: 5px;
    border-width: 3px;
}

.login-form{
    text-align: center;
}

.trash-icon{
    color: red;
}

.todo-screen{
    text-align: center;
}

.todo-screen ul{
    margin: 0 auto;
    text-align: left;
    max-width: 600px;
    min-width: fit-content;
}


